@import url(//fonts.googleapis.com/css?family=Inconsolata);

html, body {
   background: #030303;
   color: #fff;
}
pre, code {
   font-family: 'Inconsolata', sans-serif;
   font-size: 14px;
}

pre .keyword { color: #FF0C4B; }
pre .string { color: #01DBFF; }
pre .regexp { color: #15E80B; }
pre .class { color: #15E80B; font-weight: bold; }
pre .special { color: #FFD901; }
pre .number { color: #01DBFF; }
pre .comment { color: grey; font-style: italic; }
